[submodule "submission"]
	path = submission
	url = https://github.com/OpenBounds/SubmissionForm.git
[submodule "Processing"]
	path = Processing
	url = https://github.com/OpenBounds/Processing.git
	branch = master
